@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500;400;300;200&display=swap");

.belowheader {
    background:rgb(203, 221, 237);
    padding-left:10%;
    padding-top:2%; 
    padding-bottom:100%; 
  }
  
  .search-form{
    min-height:10vh;
    display: flex;
    justify-content:center;
    align-items:center;

  }
  .search-button{
    font-family: "Noto Sans HK","sans-serif";
    height:30%;
    
  } 
  
  .search-bar{
    width:30%;
    height:30%;
    border:gray;
    justify-content:center;
    font-family: "Noto Sans HK","sans-serif";


  }
  h1, h2, p{
    font-family: "Noto Sans HK","sans-serif";
    font-weight:300;
    color:gray;
  }
  header{
    padding-top:3%;
    padding-bottom:2%;
    background:rgb(46, 55, 114);
    width:100%;
  }
  header>h1{
    font-family: "Noto Sans HK","sans-serif";
    font-weight:500;
    font-size:30px;
    color:white;
    padding-left:5%;
  }
  .pg p{
    font-size:13px;

  }
  .pg{
    padding-top:2%;
    flex-direction:row;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    padding-top:5%;
  }

  .wrapper img{
 
    width:300px;
    height:300px;
    padding-top:10px;
    padding-bottom:10px;

    object-fit: cover;
    flex-direction:row;
    
  }